#Heros of Pymoli

Your final report should include each of the following:

**Player Count**

* Total Number of Players

**Purchasing Analysis (Total)**

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

**Gender Demographics**

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

**Purchasing Analysis (Gender)** 

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

**Most Profitable Items**

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* Your script must work for both data-sets given.
* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames. 
* You must include an exported markdown version of your Notebook called  `README.md` in your GitHub repository.  
* You must include a written description of three observable trends based on the data. 
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_Example.pdf) for a reference on expected format.

## Three observable trends based on the data
#1) - Most Profitable item is Mourning Blade with three purchases and about $11 in revenue
#2) - There are mainly male players 64 out of 74 and highest number of players are between 20-24 years of age (33 players)
#3) - There are two returning buyrs: Sundaky74 and Aidaira26

In [29]:
import pandas as pd
import numpy as np
import json as js

In [34]:
#open CSV file
userinput = input('Please enter which file you want to read, purchase_data.json or purchase_data2.json.')
csv_path = userinput

Please enter which file you want to read, purchase_data.json or purchase_data2.json.purchase_data2.json

In [32]:
df = pd.read_json(csv_path)

In [33]:
df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

## Player Count

In [5]:
#Total Number of Players
a = df["SN"].unique()
Tp = {'Total Players':[len(a)]}
Tp1 = pd.DataFrame(Tp)
Tp1

   Total Players
0             74

## Purchasing Analysis (Total)

In [6]:
#Number of Unique Items


#Total Revenue
i = df["Item ID"].unique()
print("Number of Unique Items")
items = len(i)
items

Number of Unique Items

64

In [7]:
#Average Purchase Price
ap = round(df["Price"].mean(),2)
ap

2.92

In [8]:
#Total Number of Purchases
p = df["Item ID"].count()
p

78

In [9]:
#Total Revenue
Revenue = round(df["Price"].sum(),2)
Revenue

228.1

In [10]:
PurchaseAna = {'Number of Unique Items': [items], 'Average Purchase Price': [ap],'Total Number of Purchases': [p],"Total Revenue"
              : Revenue}
PA = pd.DataFrame(PurchaseAna)
PA

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.92,64,78,228.1

## Gender Demographics

In [11]:
#Percentage and Count of Male Players
# Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

In [12]:
total_gender = df["Gender"].count()
male = df["Gender"].value_counts()['Male']
female = df["Gender"].value_counts()['Female']
non_gender_specific = total_gender - male - female

In [13]:
male_percent = round((male/total_gender) * 100,2)
female_percent = round((female/total_gender) * 100,2)
non_gender_specific_percent = round((non_gender_specific/total_gender) * 100,2)

In [14]:
gender_Count = {'Male': [male], 'Female': [female],'Non-Disclosed': [non_gender_specific]}
geneder_Percent = {'Male': [male_percent], 'Female': [female_percent],'Non-Disclosed': [non_gender_specific_percent]}
gcount = pd.DataFrame(gender_Count)
gpercent = pd.DataFrame(geneder_Percent)

In [15]:
male_player = {'Population': "Male",'Count': [male], 'Percent': [male_percent]}
Female_Player = {'Population': "Female", 'Count': [female], 'Percent': [female_percent]}
non_player = {'Population': "Non-Disclosed", 'Count': [non_gender_specific], 'Percent': [non_gender_specific_percent]}
combined = pd.DataFrame(male_player,Female_Player)
male_player_df = pd.DataFrame(male_player)
female_player_df = pd.DataFrame(Female_Player)
non_df = pd.DataFrame(non_player)
pd.concat([male_player_df,female_player_df,non_df],ignore_index=True)

   Count  Percent     Population
0     64    82.05           Male
1     13    16.67         Female
2      1     1.28  Non-Disclosed

## Purchasing Analysis (Gender)

The below each broken by gender
Purchase Count
Average Purchase Price
Total Purchase Value
Normalized Totals

In [16]:
gen = df.groupby('Gender')
id_count = gen["Item ID"].count()
price_mean= round(gen["Price"].mean(),2)
total_purchase = gen["Price"].sum()
norm_price = round(total_purchase/id_count,2)

In [17]:
combined = pd.DataFrame({"Purchase Count": id_count, "Average Purchase Price": price_mean, "Total Purchase Value":total_purchase,
                         "Normalized Totals": norm_price})

In [18]:
combined

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Female,3.18,3.18,13,41.38
Male,2.88,2.88,64,184.60
Other / Non-Disclosed,2.12,2.12,1,2.12

## Age Demographics

The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
Purchase Count
Average Purchase Price
Total Purchase Value
Normalized Totals

In [19]:
bins = [0,10,15,20,25,30,35,40]
names = ['<10','10-14','15-19','20-24','25-29','30-34','35-40']
pd.cut(df["Age"], bins, labels=names)

0     15-19
1     20-24
2     15-19
3     15-19
4     20-24
5       <10
6     35-40
7     25-29
8     15-19
9     35-40
10    20-24
11    35-40
12    15-19
13    30-34
14      <10
15    20-24
16    20-24
17      <10
18    10-14
19    20-24
20    30-34
21    10-14
22    15-19
23    15-19
24    20-24
25    15-19
26      <10
27    20-24
28    15-19
29    20-24
      ...
48    20-24
49    15-19
50    20-24
51    25-29
52    20-24
53    15-19
54    20-24
55    15-19
56    15-19
57    20-24
58    25-29
59    35-40
60    20-24
61    20-24
62    15-19
63    10-14
64    20-24
65    20-24
66    20-24
67    20-24
68    20-24
69    30-34
70    20-24
71    20-24
72    20-24
73    30-34
74    35-40
75    10-14
76    20-24
77    15-19
Name: Age, Length: 78, dtype: category
Categories (7, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-40]

In [20]:
df["Age_Group"] = pd.cut(df["Age"], bins, labels=names)

In [21]:
Age_df = df.groupby('Age_Group')
item = Age_df["Item ID"].count()
avg_p = Age_df["Price"].mean().round(2)
total_p = Age_df["Price"].sum()
normal_p = (total_p/item).round(2)

In [22]:
player = Age_df["SN"].unique()
players = [len(x) for x in player]
players_perc = (players/(df["SN"].count()))*100
player_df = pd.DataFrame({"Total Count": players, "Players Percentage": players_perc.round(2)})
play_df = (player_df)
play_df

   Players Percentage  Total Count
0                6.41            5
1                5.13            4
2               25.64           20
3               38.46           30
4                5.13            4
5                7.69            6
6                6.41            5

In [23]:
item_df = pd.DataFrame({"Purchase Count": item, "Average Purchase Price": avg_p, 
                        "Total Purchase Value": total_p, "Normalized Totals": normal_p})
items_df = (item_df)
items_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Age_Group,,,,
<10,2.76,2.76,5,13.82
10-14,3.05,3.05,4,12.21
15-19,2.73,2.73,20,54.69
20-24,3.04,3.04,33,100.42
25-29,2.69,2.69,4,10.77
30-34,2.35,2.35,7,16.47
35-40,3.94,3.94,5,19.72

## Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
SN
Purchase Count
Average Purchase Price
Total Purchase Value

In [24]:
SN = df.groupby('SN')
id_count = SN["Item ID"].count()
price_Avg= round(SN["Price"].mean(),2)
total_purchase = SN["Price"].sum()
top_spend = pd.DataFrame({"Purchase Count": id_count, "Average Purchase Price": price_Avg, 
                        "Total Purchase Value": total_purchase})
top_s = (top_spend)
top_5 = top_s.sort_values(by="Total Purchase Value", ascending=False)
top_5.head(5)

            Average Purchase Price  Purchase Count  Total Purchase Value
SN
Sundaky74                     3.70               2                  7.41
Aidaira26                     2.56               2                  5.13
Eusty71                       4.81               1                  4.81
Chanirra64                    4.78               1                  4.78
Alarap40                      4.71               1                  4.71

## Most Popular Items

Identify the 5 most popular items by purchase count, then list (in a table):
Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value

In [25]:
itemsPop = df.groupby('Item ID')
item_name = itemsPop["Item Name"].unique()
ID = itemsPop["Item ID"].unique()
id_counts = itemsPop["Item ID"].count()
prices = round(itemsPop["Price"].mean(),2)
total_pur = itemsPop["Price"].sum()
Pop_items = pd.DataFrame({"Item ID": ID, "Item Name": item_name, "Purchase Count": id_counts, "Average Purchase Price": prices, 
                        "Total Purchase Value": total_pur})
top_pop = (Pop_items)
top_items = top_pop.sort_values(by="Purchase Count", ascending=False)
top_items.head(5)

,Average Purchase Price,Item ID,Item Name,Purchase Count,Total Purchase Value
Item ID,,,,,
94,3.64,[94],[Mourning Blade],3,10.92
90,4.12,[90],[Betrayer],2,8.24
111,1.79,[111],[Misery's End],2,3.58
64,2.42,[64],[Fusion Pummel],2,4.84
154,4.11,[154],[Feral Katana],2,8.22

## Most Profitable Items

Identify the 5 most profitable items by total purchase value, then list (in a table):
Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value

In [27]:
itemsProf = df.groupby('Item ID')
item_name_p = itemsProf["Item Name"].unique()
ID_p = itemsProf["Item ID"].unique()
id_counts_p = itemsProf["Item ID"].count()
prices_p = round(itemsProf["Price"].mean(),2)
total_pur_p = itemsProf["Price"].sum()
Prof_items_p = pd.DataFrame({"Item ID": ID_p, "Item Name": item_name_p, "Purchase Count": id_counts_p, 
                          "Average Purchase Price": prices_p, 
                        "Total Purchase Value": total_pur_p})
top_prof = (Prof_items_p)
top_prof = top_prof.sort_values(by="Total Purchase Value", ascending=False)
top_prof.head(5)

,Average Purchase Price,Item ID,Item Name,Purchase Count,Total Purchase Value
Item ID,,,,,
94,3.64,[94],[Mourning Blade],3,10.92
117,4.71,[117],"[Heartstriker, Legacy of the Light]",2,9.42
93,4.49,[93],[Apocalyptic Battlescythe],2,8.98
90,4.12,[90],[Betrayer],2,8.24
154,4.11,[154],[Feral Katana],2,8.22