#Heros of Pymoli

Your final report should include each of the following:

**Player Count**

* Total Number of Players

**Purchasing Analysis (Total)**

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

**Gender Demographics**

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

**Purchasing Analysis (Gender)** 

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

**Most Profitable Items**

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* Your script must work for both data-sets given.
* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames. 
* You must include an exported markdown version of your Notebook called  `README.md` in your GitHub repository.  
* You must include a written description of three observable trends based on the data. 
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_Example.pdf) for a reference on expected format.

In [105]:
import pandas as pd
import numpy as np
import json as js

In [100]:
#open CSV file
csv_path = 'purchase_data2.json'

In [101]:
df = pd.read_json(csv_path)

In [102]:
df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

## Player Count

In [110]:
#Total Number of Players
a = df["SN"].unique()
Tp = {'Total Players':[len(a)]}
Tp1 = pd.DataFrame(Tp)
Tp1

   Total Players
0             74

## Purchasing Analysis (Total)

In [120]:
#Number of Unique Items


#Total Revenue
i = df["Item ID"].unique()
print("Number of Unique Items")
items = len(i)
items

Number of Unique Items

64

In [117]:
#Average Purchase Price
ap = round(heroes_df["Price"].mean(),2)
ap

2.93

In [123]:
#Total Number of Purchases
p = df["Item ID"].count()
p

78

In [134]:
PurchaseAna = {'Number of Unique Items': [items], 'Average Purchase Price': [ap],'Total Number of Purchases': [p]}
PA = pd.DataFrame(PurchaseAna)
PA

   Average Purchase Price  Number of Unique Items  Total Number of Purchases
0                    2.93                      64                         78

## Gender Demographics

In [ ]:
#Percentage and Count of Male Players
# Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

In [158]:
gen = df.groupby('Gender')

gender1 = gen.count()
#m = gen.loc[gen["Gender"]] == "Male"
#m